<div id="page-wrapper" class="gray-bg">
  <div class="row border-bottom">
    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

      </div>


      <div class="nav navbar-top-links navbar-right" id="logo-small">
        <img src="img/logo-small.png" />
      </div>

    </nav>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

      <div class="col-lg-10">
        <div class="ibox float-e-margins">
          <div class="ibox-title">


            <ul class="nav nav-tabs nav-justified" id="report-tab">
              <li role="presentation" id="cohortTab" class="active" ng-click="showCohort()"><a>COHORT</a></li>
              <li role="presentation" id="kickoutTab" ng-click="showKickout()"><a>KICKOUT</a></li>
            </ul>
          </div>


          <div class="ibox-content" id="report-border">
            <div id="cohort-display">
              <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <!--TODO: This should be modified to sync with criteria selection-->
                <thead>
                  <tr>
                    <th class="col-enrolid">ENROLID</th>
                    <th class="col-indexdt">INDEXDT</th>
                    <th class="col-age">AGE</th>
                    <th class="col-sex">SEX</th>
                    <th class="col-region">REGION</th>
                    <th class="col-plantyp">PLANTYP</th>
                    <th class="col-eestatu">EESTATU</th>
                    <th class="col-dataset">DATASET</th>
                    <th class="col-prediag">PREDIAG</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in cohort | startFrom:cPageNUm*pageSize | limitTo:pageSize">
                    <td class="col-enrolid">{{ row[0] }}</td>
                    <td class="col-indexdt">{{ row[1] }}</td>
                    <td class="col-age">{{ row[2] }}</td>
                    <td class="col-sex">{{ row[3] }}</td>
                    <td class="col-region">{{ row[4] }}</td>
                    <td class="col-plantyp">{{ row[5] }}</td>
                    <td class="col-eestatu">{{ row[6] }}</td>
                    <td class="col-dataset">{{ row[7] }}</td>
                    <td class="col-prediag">{{ row[8] }}</td>
                  </tr>
              </table>
              <button class="btn" ng-disabled="cPageNUm <= 0" ng-click="cPageNum = cPageNum - 1"><<</button>
              <button class="btn" ng-disabled="cPageNum >= cohortPageCount()" ng-click="cPageNum = cPageNum + 1">>></button>
              Page {{cPageNum+1}} out of {{cohortPageCount()}} in COHORT
            </div>
            <div id="kickout-display" style="display:none">
              <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <!--TODO: This should be modified to sync with criteria selection-->
                <thead>
                  <tr>
                    <th class="col-enrolid">ENROLID</th>
                    <th class="col-indexdt">INDEXDT</th>
                    <th class="col-age">AGE</th>
                    <th class="col-sex">SEX</th>
                    <th class="col-region">REGION</th>
                    <th class="col-plantyp">PLANTYP</th>
                    <th class="col-eestatu">EESTATU</th>
                    <th class="col-dataset">DATASET</th>
                    <th class="col-prediag">PREDIAG</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in kickout | startFrom:kPageNum*pageSize | limitTo:pageSize">
                    <td class="col-enrolid">{{ row[0] }}</td>
                    <td class="col-indexdt">{{ row[1] }}</td>
                    <td class="col-age">{{ row[2] }}</td>
                    <td class="col-sex">{{ row[3] }}</td>
                    <td class="col-region">{{ row[4] }}</td>
                    <td class="col-plantyp">{{ row[5] }}</td>
                    <td class="col-eestatu">{{ row[6] }}</td>
                    <td class="col-dataset">{{ row[7] }}</td>
                    <td class="col-prediag">{{ row[8] }}</td>
                  </tr>
              </table>
              <button class="btn" ng-disabled="kPageNum <= 0" ng-click="kPageNum = kPageNum - 1"><<</button>
              <button class="btn" ng-disabled="kPageNum >= kickoutPageCount()" ng-click="kPageNum = kPageNum + 1">>></button>
              Page {{kPageNum+1}} out of {{kickoutPageCount()}} in KICKOUT
            </div>
          </div>
        </div>
      </div>

      <!--Criteria Selection-->
      <div class="col-lg-2">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <div class="table-responsive" id="criteria-table">
              <table class="table" id="criteria">
                <thead>
                  <tr>
                    <th></th>
                    <th>Criteria</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td><input type="checkbox" checked onclick="$('.col-enrolid').toggle()"/></td>
                    <td>ENROLID</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" checked onclick="$('.col-indexdt').toggle()"/></td>
                    <td>INDEXDT</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" checked onclick="$('.col-age').toggle()"/></td>
                    <td>AGE</td>
                  </tr>

                  <tr>
                    <td>
                      <input type="checkbox" checked onclick="$('.col-sex').toggle()"/>
                    </td>
                    <td>SEX</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" checked onclick="$('.col-region').toggle()"/></td>
                    <td>REGION</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" checked onclick="$('.col-plantyp').toggle()"/></td>
                    <td>PLANTYP</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" checked onclick="$('.col-eestatu').toggle()"/></td>
                    <td>EESTATU</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" checked onclick="$('.col-dataset').toggle()"/></td>
                    <td>DATASET</td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" checked onclick="$('.col-prediag').toggle()"/></td>
                    <td>PREDIAG</td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>


  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12" id="history-table">
        <div class="ibox float-e-margins">
          <div class="ibox-content">


            <!-- Queries history-->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>

                    <th>
                      <input type="checkbox" class="i-c hecks" ng-model="master" name="input[]"> </th>
                    <th>
                      <button type="button" class="btn btn-outline btn-danger" id="deleteBtn">Delete</button>
                    </th>
                    <th>Parameter</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input id="checkSlave" type="checkbox" class="i-checks" ng-checked="master" name="input[]" aria-label="Slave input">
                    </td>
                    <td>
                      Question 1: Search for patients with at least 1 dx in inpatient services table, outpatient services table.
                    </td>
                    <td class="tags">
                      <span class="label">ENROLID</span>
                      <span class="label">DX1</span>
                      <span class="label">DX2</span>
                      <span class="label">DX3</span>
                      <span class="label">DX4</span>
                    </td>
                    <td>
                      10/8/16
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <input id="checkSlave" type="checkbox" class="i-checks" ng-checked="master" name="input[]" aria-label="Slave input">
                    </td>
                    <td>
                      Question 2: Search for patients enrolled with at least 12 months or 365 days of continuous enrollment prior to the first heart failure diagnosis in the period of study.
                    </td>
                    <td class="tags">
                      <span class="label">ENROLID</span>
                      <span class="label">SVCDATE</span>
                      <span class="label">INDEXDT</span>
                    </td>
                    <td>
                      10/8/16
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input id="checkSlave" type="checkbox" class="i-checks" ng-checked="master" name="input[]" aria-label="Slave input">
                    </td>
                    <td>
                      Question 3: Specify that gaps of 45 days in enrollment will not be considered to be disenrollment.
                    </td>
                    <td class="tags">
                      <span class="label">ENROLID</span>
                      <span class="label">SVCDATE</span>
                      <span class="label">INDEXDT</span>
                    </td>
                    <td>
                      10/8/16
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input id="checkSlave" type="checkbox" class="i-checks" ng-checked="master" name="input[]" aria-label="Slave input">
                    </td>
                    <td>
                      Question 4: Create index date 01/01/2012 to identify period of study in inpatient services table, outpatient services table.
                    </td>
                    <td class="tags">
                      <span class="label">DATASET</span>
                      <span class="label">AGE</span>
                      <span class="label">SEX</span>
                      <span class="label">REGION</span>
                    </td>
                    <td>
                      10/8/16
                    </td>
                  </tr>


                </tbody>
              </table>


            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
